@using EventsWebsite.Database
@model EventsWebsite.Models.UserModel

@{ 
    
    @Scripts.Render("~/Scripts/edit-user.js")
    ViewBag.Title = "Profiel";
    UserDB userdb = new UserDB();
    string user = $"{Model.Voornaam} {Model.tussenvoegsel} {Model.Achternaam}";
    string address = $"{Model.Street} {Model.HouseNumber} {Model.Toevoeging}";
    string test = Model.AccesLevelNaarNaam(1);
}

<div class="container">
    <div class="row">
        <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6 col-xs-offset-0 col-sm-offset-0 col-md-offset-3 col-lg-offset-3 toppad">


            <div class="panel panel-info">
                <div class="panel-heading">
                    <h3 class="panel-title">@Model.Username</h3>
                </div>
                <div class="row">
                    <div class="col-md-3 col-lg-3 " align="center"> <img alt="User Pic" src="../../images/user.png" class="img-circle img-responsive"> </div>

                    <div class=" col-md-9 col-lg-9 ">
                        <table class="table table-user-information">

                            @using (Html.BeginForm("EditProfile", "User", FormMethod.Post, new { role = "form" }))
                            {
                                @Html.AntiForgeryToken()
                             <tbody>
                                <tr>
                                    <td>Naam:</td>
                                    <td>
                                        @Html.TextBoxFor(m => m.Voornaam, new {@class = "form-control"})
                                    </td>
                                    <td>
                                        <span><a href="#" data-original-title="Edit this user" id="name" class="edit name" data-toggle="tooltip" type="button" class="btn btn-sm btn-warning"><i class="glyphicon glyphicon" class="glyphicon-edit"></i></a></span>
                                    </td>
                                </tr>
                                <tr>
                                    <td>Straat:</td>
                                    <td>
                                        @Html.TextBoxFor(m => m.Street, new {@Class = "form-control"})
                                    </td>
                                    <td>
                                        <span><a href="#" data-original-title="Edit this user" id="address" class="edit name" data-toggle="tooltip" type="button" class="btn btn-sm btn-warning"><i class="glyphicon glyphicon-edit"></i></a></span>
                                    </td>
                                </tr>
                                <tr>
                                <tr>
                                    <td>Huisnummer:</td>
                                    <td>
                                        @Html.TextBoxFor(m => m.HouseNumber, new {@Class = "form-control"})
                                    </td>
                                    <td>
                                        <span><a href="#" data-original-title="Edit this user" id="address" class="edit name" data-toggle="tooltip" type="button" class="btn btn-sm btn-warning"><i class="glyphicon glyphicon-edit"></i></a></span>
                                    </td>
                                </tr>
                                <tr>
                                    <td>Toevoeging:</td>
                                    <td>
                                        @Html.TextBoxFor(m => m.Toevoeging, new {@Class = "form-control"})
                                    </td>
                                    <td>
                                        <span><a href="#" data-original-title="Edit this user" id="address" class="edit name" data-toggle="tooltip" type="button" class="btn btn-sm btn-warning"><i class="glyphicon glyphicon-edit"></i></a></span>
                                    </td>
                                </tr>
                                <tr>
                                    <td>Stad</td>
                                    <td>
                                    @Html.TextBoxFor(m => m.City, new {@Class = "form-control"})
                                    <td>
                                        <span><a href="#" data-original-title="Edit this user" id="city" class="edit name" data-toggle="tooltip" type="button" class="btn btn-sm btn-warning"><i class="glyphicon glyphicon-edit"></i></a></span>
                                    </td>
                                </tr>
                             <tr>
                                 <td>Email</td>
                                 <td>
                                     @Html.TextBoxFor(m => m.Email, new {@Class = "form-control"})
                                 </td>
                                 <td>
                                     <span> <a href="#" data-original-title="Edit this user" id="email" class="edit name" data-toggle="tooltip" type="button" class="btn btn-sm btn-warning"><i class="glyphicon glyphicon-edit"></i></a></span>
                                 </td>
                             </tr>
                                 @{
                                     if (Convert.ToInt32(Session["Niveau"]) >= 4)
                                     {
                                        <tr>
                                            <td>Niveau</td>
                                            <td>
                                                @Html.TextBoxFor(m => m.AccesLevel, new { @Class = "form-control" })
                                            </td>
                                            <td>
                                                <span> <a href="#" data-original-title="Edit this user" id="email" class="edit name" data-toggle="tooltip" type="button" class="btn btn-sm btn-warning"><i class="glyphicon glyphicon-edit"></i></a></span>
                                            </td>
                                        </tr>
                                     }
                                }
                             <div class="panel-footer">

                                     <input type="submit" class="btn btn-default" value="EditProfile" />
                                 </div>
                                </tbody>
                                
                            }
                    </table>
                            </div>
                    </div>
                </div>


        </div>
        </div>
    </div>
</div>
