@using EventsWebsite.Models;
@model UserModel
@{
        string user = $"{Model.Voornaam} {Model.tussenvoegsel} {Model.Achternaam}";
        string address = $"{Model.Street} {Model.HouseNumber} {Model.Toevoeging}";
        string test =  Model.AccesLevelNaarNaam(1);
}
<div class="container">
    <div class="row">
        <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6 col-xs-offset-0 col-sm-offset-0 col-md-offset-3 col-lg-offset-3 toppad">


            <div class="panel panel-info">
                <div class="panel-heading">
                    <h3 class="panel-title">@Model.Username</h3>
                </div>
                <div class="panel-body">
                    <div class="row">
                        <div class="col-md-3 col-lg-3 " align="center"> <img alt="User Pic" src="../../images/user.png" class="img-circle img-responsive"> </div>

                        <div class=" col-md-9 col-lg-9 ">
                            <table class="table table-user-information">
                                <tbody>
                                    <tr>
                                        <td>Naam:</td>
                                        <td>@user</td>
                                    </tr>
                                    <tr>
                                        <td>Address:</td>
                                        <td>@address</td>
                                    </tr>
                                    <tr>
                                        <td>Stad</td>
                                        <td>@Model.City</td>
                                    </tr>
                                    <tr>
                                        <td>Email</td>
                                        <td><a href="mailto:info@support.com">@Model.Email</a></td>
                                    </tr>
                                <td>Rol</td>
                                <td>
                                    @test
                                </td>


                                </tbody>
                            </table>

                        </div>
                    </div>
                </div>
                <div class="panel-footer">
                    <a data-original-title="Broadcast Message" data-toggle="tooltip" type="button" class="btn btn-sm btn-primary"><i class="glyphicon glyphicon-envelope"></i></a>
                    <span class="pull-right">
                        <a href="@Url.Action("EditProfile","User")" data-toggle="tooltip" type="button" class="btn btn-sm btn-warning"><i class="glyphicon glyphicon-edit"></i></a>
                        <a data-original-title="Remove this user" data-toggle="tooltip" type="button" class="btn btn-sm btn-danger"><i class="glyphicon glyphicon-remove"></i></a>
                    </span>
                </div>

            </div>
        </div>
    </div>
</div>