@model IEnumerable<EventsWebsite.Models.MaterialModel>

@{
    ViewBag.Title = "Verhuurde materialen";
}

<h2>HiredMaterials</h2>

<p>
    @Html.ActionLink("Free material", "Index")
</p>

<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Barcode)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Number)
        </th>
    </tr>

@foreach (var item in Model)
{
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Barcode)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Number)
        </td>
        <td>
            @Html.ActionLink("Return", "ReturnMaterials", new { number = item.Number })
        </td>
    </tr>
}
</table>
