@model IEnumerable<EventsWebsite.Models.MaterialModel>

@{
    ViewBag.Title = "Verhuurde materialen";
}
<div class="intro-header">
    <h1>@ViewBag.Title</h1>
</div>
<div class="container">
    <p>
        <a href="@Url.Action("Index")" class="btn btn-success">Beschikbare materialen</a>
    </p>

    <table class="table table-hover">
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Barcode)
            </th>
            <th>
                Nummer
            </th>
            <td>
                Actie
            </td>
        </tr>

        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Barcode)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Number)
                </td>
                <td>
                    <a href="@Url.Action("ReturnMaterial", new {number = item.Number})">
                        Terugbrengen
                    </a>
                   
                </td>
            </tr>
        }
    </table>
</div>