@model IEnumerable<EventsWebsite.Models.SocialMediaMessageModel>

@{
    ViewBag.Title = "Social media systeem";
}
<div class="intro-header">
    <h1>@ViewBag.Title</h1>
</div>
<div class="container"> 
<p>
    <a class="btn btn-success" href="@Url.Action("CreatePost")"><i class="glyphicon glyphicon-edit"></i> Maak een nieuw post</a>
</p>
        <table class="table">
            <tr>
                <th>
                    @Html.DisplayNameFor(model => model.Title)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Username)
                </th>
                <th></th>
            </tr>

            @foreach (var item in Model)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.Title)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Username)
                    </td>
                    <td>
                        @Html.ActionLink("Details", "ShowFullPost", new { id = item.Messageid })
                    </td>
                </tr>
            }

        </table>
    </div>