@model IEnumerable<EventsWebsite.Models.SocialMediaMessageModel>

@{
    ViewBag.Title = "ShowFullPost";
}

<h2>ShowFullPost</h2>


<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Username)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Title)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Message)
        </th>
    </tr>

@foreach (var item in Model)
{
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Username)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Title)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Message)
        </td>
    </tr>
}

</table>

<p>
    @Html.ActionLink("Reply", "Reply", new { id = Model.ElementAt(0)})
</p>
