@model IEnumerable<EventsWebsite.Models.EventModel>

@{
    ViewBag.Title = "Index";
}
<div class="intro-header">
    <h1>@ViewBag.Title</h1>
</div>
<div class="container">

    <p>
        <a href="@Url.Action("CreateEvent")" class="btn btn-success">Maak nieuw event aan</a>
    </p>
    <table class="table">
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Name)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.DateStart)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.DateEnd)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.City)
            </th>
            <th>
                Actie
            </th>
        </tr>

        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Name)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.DateStart)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.DateEnd)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.City)
                </td>
                <td>
                    <a id="confirm-delete" class="btn btn-danger" href="@Url.Action("DeleteEvent", "EventBeheer", new {id = item.EventID})"><i class="glyphicon glyphicon-remove"></i></a>
                </td>
            </tr>
        }

    </table>
</div>