@using EventsWebsite.Models;
@model EventModel
@{
    ViewBag.Title = "Event";
}

<h2>@Model.Name</h2>
<p>
   Startdatum:  @Model.DateStart
   Einddatum:   @Model.DateEnd
   Land:        @Model.Country
   Plaats:      @Model.City
   Straat:      @Model.Street
   Postcode:    @Model.Zipcode
   Huisnummer:  @Model.HouseNumber

    <a href="@Url.Action("Reserveer", "Reservering",new { eventid = Model.EventID})">Reserveer!></a>

</p>


