
@using EventsWebsite.Models;
@model List<EventModel>
@{
    ViewBag.Title = "Events";
}

<div class="intro-header">
    <h1>@ViewBag.Title</h1>
</div>
<div class="container">  
        <table class="table table-hover">
            <thead>
                <tr>
                    <th>Naam</th>
                    <th>Datum</th>
                    <th>Locatie</th>
                </tr>
            </thead>
            <tbody>
            <tr>
                @foreach (EventModel Events in Model)
                {
                    <td><a href="@Url.Action("Event", "Reserveer", new {id = Events.EventID})">@Events.Name</a></td>
                    <td>@Events.DateStart</td>
                    <td>@Events.Street , @Events.City</td>
                }
            </tr>
            </tbody>
        </table>
   
</div>