@model EventsWebsite.Models.ReserveringUsers
@{
    ViewBag.Title = "Voeg gebruikers toe";
}
@Scripts.Render("../Scripts/jquery-1.10.2.min.js")
@Scripts.Render("../Scripts/nud.js")
<div class="intro-header">
    <h1>@ViewBag.Title</h1>
</div>
<div class="container">
    @using (Html.BeginForm())
    {
        @Html.AntiForgeryToken()

        <div class="form-horizontal">
            <h4>@ViewBag.Title</h4>
            <p>Kies hier het aantal vrienden waarmee u wilt reserveren</p>
            <input type="number" name="quantity" min="0" max="8" id="numinput" value="0">
            <a class="btn btn-success" id="buttongetnum">Click me</a>
            <hr />
            @Html.ValidationSummary(true, "", new { @class = "text-danger" })
            <div class="form-group">
                @Html.LabelFor(model => model.Gebruikersnaam1, htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-9">
                    @Html.EditorFor(model => model.Gebruikersnaam1, new {htmlAttributes = new {@class = "form-control"}})
                    @Html.ValidationMessageFor(model => model.Gebruikersnaam1, "", new {@class = "text-danger"})
                </div> 
               
            </div>

            <div class="form-group" id="fg1">
                @Html.LabelFor(model => model.Gebruikersnaam2, htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    @Html.EditorFor(model => model.Gebruikersnaam2, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.Gebruikersnaam2, "", new { @class = "text-danger" })
                </div>
            </div>

            <div class="form-group" id="fg2">
                @Html.LabelFor(model => model.Gebruikersnaam3, htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    @Html.EditorFor(model => model.Gebruikersnaam3, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.Gebruikersnaam3, "", new { @class = "text-danger" })
                </div>
            </div>

            <div class="form-group" id="fg3">
                @Html.LabelFor(model => model.Gebruikersnaam4, htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    @Html.EditorFor(model => model.Gebruikersnaam4, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.Gebruikersnaam4, "", new { @class = "text-danger" })
                </div>
            </div>

            <div class="form-group"  id="fg4">
                @Html.LabelFor(model => model.Gebruikersnaam5, htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    @Html.EditorFor(model => model.Gebruikersnaam5, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.Gebruikersnaam5, "", new { @class = "text-danger" })
                </div>
            </div>

            <div class="form-group" id="fg5">
                @Html.LabelFor(model => model.Gebruikersnaam6, htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    @Html.EditorFor(model => model.Gebruikersnaam6, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.Gebruikersnaam6, "", new { @class = "text-danger" })
                </div>
            </div>

            <div class="form-group" id="fg6">
                @Html.LabelFor(model => model.Gebruikersnaam7, htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    @Html.EditorFor(model => model.Gebruikersnaam7, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.Gebruikersnaam7, "", new { @class = "text-danger" })
                </div>
            </div>

            <div class="form-group">
                <div class="col-md-offset-2 col-md-10">
                    <input type="submit" value="Create" class="btn btn-default" />
                </div>
            </div>
        </div>
    }

    <div>
        <a class="btn btn-success" href="@Url.Action("Index")">Terug naar de lijst</a>
       

    </div>
</div>